/*google fonts*/
@import url('https://fonts.googleapis.com/css2?family=Cute+Font&display=swap');

/*wildcardselector - applies to whole page*/
*{
    font-family: 'Cute Font' ,sans-serif;
}

/*general styles*/
body {
    min-height: 100vh;
    display: flex;
    background-color: green;
    background-image: url(../images/clover.jpeg);
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
}
}

.nav{
    padding: 1%;
    font-size: 5vh;
    text-decoration: none;
    color:white;
}

a{
    text-decoration: none;
    color:white;
}

.heading{
    text-align: center;
    text-decoration: underline;
    margin: 1vh;
}


h1{
    font-size: 10vh;
}

h2{
    font-size: 8vh;
}

h3{
    font-size: 5vh;
    text-align: center;
}

h4{
    font-size: 3vh;
}

.flexing{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    margin: 2%;
}

.btn{
    border: 2px solid;
    border-radius: 40%;
    font-size: 10vh;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
    padding: 2px;
}

.btn:hover{
    color: white;
}


.logo{
    border-style: double;
    border-radius: 20%;
    margin: 2%;
    background-color: rgb(180, 205, 226);

}

/* grid section*/
.grid2{
    height: 89vw;
    width: 92vw;
    display: flex;
    flex-wrap: wrap;
}

.gamesection{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;
    background-color: green;
    min-height: 100vw;
    width: 98vw;
    align-content: center;
}

.square{
    height: 30vw;
    width: 30vw;
    border: black solid 1px;
}

/* basic div style*/
.hed{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    flex-direction: row;
    background-color: green;
    margin: 2%;
}

.center{
    text-align: center;
    text-decoration: dashed;
}

/*specific button requirements*/
.timeleftdiv{
    padding: 10%;
    display: flex;
    align-content: center;
    white-space: nowrap;
}


#levels{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-flow: column;
    padding: 5%;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: green;
    margin: 2%;
}

#level2{
    color: black;
    text-align: center;
    white-space: nowrap;
}

#level2 a{
    color: black;
}

#level3{
    color: black;
    text-align: center;
    white-space: nowrap;
}

#level3 a{
    color: black;
}


/* specific classes for the game.*/
.mound{
    background-image: url("../images/molehole.png");
    background-size: 30vw;
    height: 30vw;
    width: 30vw;
}

.molehint{
    background-image: url("../images/molehint.png");
    background-size: 30vw;
    height: 30vw;
    width: 30vw;
}

.friendhint{
    background-image: url("../images/friendhint.png");
    background-size: 30vw;
    height: 30vw;
    width: 30vw;
}

.trickhint{
    background-image: url("../images/trickhint.png");
    background-size: 30vw;
    height: 30vw;
    width: 30vw;
}

.mole{
    background-image: url("../images/molepop.png");
    background-size: 30vw;
    height: 30vw;
    width: 30vw;
}


.trick{
    background-image: url("../images/trickpop.png");
    background-size: 30vw;
    height: 30vw;
    width: 30vw;
}

.friend{
    background-image: url("../images/friendpop.png");
    background-size: 30vw;
    height: 30vw;
    width: 30vw;
}

.farmer{
    background-image: url(../images/farmer.png);
    background-size: 30vw;
    height: 28vw;
    width: 30vw;
}


.farmerwhack{
    background-image: url("../images/farmerwhack.png");
    background-size: 30vw;
    height: 28vw;
    width: 30vw;
}
