
/*general styles*/
body {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: green;
    justify-content: center;
}

.nav{
    padding: 1%;
    font-size: 5vh;
    text-decoration: none;
    color:white;
}

a{
    text-decoration: none;
    color:white;
}

.heading{
    text-align: center;
    text-decoration: underline;
    margin: 1vh;
}


h1{
    font-size: 10vh;
}

h2{
    font-size: 8vh;
}

h3{
    font-size: 5vh;
    text-align: center;
}

h4{
    font-size: 3vh;
}

.flexing{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.btn{
    border: 2px solid;
    border-radius: 40%;
    font-size: 10vh;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
    padding: 2px;
}

.btn:hover{
    color: white;
}

.grid2{
    height: 606px;
    width: 606px;
    display: flex;
    flex-wrap: wrap;
}

.gamesection{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;
}

.square{
    height: 200px;
    width:200px;
    border: black solid 1px;
}

.hed{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    flex-direction: row;
}

.center{
    text-align: center;
    text-decoration: dashed;
}

.timeleftdiv{
    padding: 10%;
    display: flex;
    align-content: center;
    white-space: nowrap;
}


#levels{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-flow: column;
    padding: 5%;
}

#level2{
    color: black;
    text-align: center;
    padding: 15%;
    padding-right: 21%;
    width: 120%;
    height: 150%;
    margin: 20%;
    white-space: nowrap;
}

#level2 a{
    color: black;
}

#level3{
    color: black;
    text-align: center;
    padding: 15%;
    padding-right: 21%;
    width: 120%;
    height: 150%;
    margin: 20%;
    white-space: nowrap;
}

#level3 a{
    color: black;
}